doctype html
// コメント
html(lang="ja")
  head
    meta(charset="utf-8")
    title テスト
    link(rel="stylesheet" href="/css/main.css")
  body
    h1.page-h Pugタイトル
    main.main
      section.m-section
        p セクション1
        .contents コンテンツ
    footer
      p Hallo
    script(src="/js/main.js")